<% provide :title, @anime.name %>
<div class = "row">
  <div class = "col-md-12">
    <h3><%= @anime.name %></h3>
    <p><%= t "anime.introduce" %><%= @anime.introdution %></p>
    <p><%= t "anime.web_ratting" %><%= @anime.web_ratting %></p>
    <% if @anime.user_ratting %>
      <p><%= t "anime.user_ratting" %><%= @anime.user_ratting %></p>
    <% end %>
    <% if @anime.anime_genres.any? %>
      <% @anime.anime_genres.each do |anime_genre| %>
          <span>
            <%= link_to anime_genre.genre.name, anime_genre.genre %>
          </span>
      <% end %>
    <% end %>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to t("review.create"), new_anime_review_path(@anime) %></li>
      <li><%= link_to t("rate.title"), "#" %></li>
    </ul>
  </div>
</div>
<div class = "row">
  <div class="col-md-12">
    <% if @anime.reviews.any? %>
      <h3><%= t "review.title" %> (<%= @anime.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
    <% end %>
  </div>
</div>
