<li id="review-<%= review.id %>">
  <% if review.user.avatar_file_name %>
    <%= link_to image_tag(review.user.avatar.url(:med)),
      anime_review_path(review.anime_id, review) %>
  <% else %>
    <%= gravatar_for review.user, size: 100 %>
  <% end %>
  <span class="title"><%= link_to review.title,
    anime_review_path(review.anime_id, review) %></span>
  <p><%= link_to review.user.name, review.user %></p>
</li>
<p class="timestamp">
  <%= t "review.created_at", time: time_ago_in_words(review.created_at) %>
</p>
