<% provide :title, t("header.review_list") %>
<h1><%= t "header.review_list" %></h1>
<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <span>
        <% if review.user.avatar_file_name %>
          <%= link_to image_tag(review.user.avatar.url(:med)), @review %>
        <% else %>
          <%= gravatar_for review.user, size: 100 %>
        <% end %>
        <%= link_to review.title, anime_review_path(review.anime_id, review) %>
      </span>
    </li>
  <% end %>
  <p><%= will_paginate @reviews %></p>
</ul>
