<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "My Anime Review", root_path, id: "logo" %>
  </div>
  <nav id="menu">
    <ul>
      <li><%= link_to t("home.title"), root_path %></li>
      <li><%= link_to t("header.anime_list"), "#" %></li>
      <li><%= link_to t("header.review_list"), "#" %></li>
      <li><%= link_to t("help.title"), "/my_anime_list/help" %></li>
      <li><%= link_to t("header.log_in"), "#" %></li>
      <li><%= link_to t("header.sign_up"), "#" %></li>
    </ul>
  </nav>
</header>
