<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title><%= t "name" %> |<%= yield :title %></title>
=======
    <title><%= full_title(yield :title) %></title>
>>>>>>> static_pages
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class = "container" id= "content">
<<<<<<< HEAD
    <% flash.each do |message_type, message| %>
=======
      <% flash.each do |message_type, message| %>
>>>>>>> static_pages
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
